
@{
    ViewBag.Title = "Comsoc";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <link href="~/Content/Commites.css" rel="stylesheet" type="text/css" />
</head>

    <div class="about section" style="margin-bottom: 0px;">
        <div class="content-box">
            <h2>ComSoc nedir?</h2>
            <p>
                IEEE Communications Society, 1952 yılında kurulmuş ve o günden bu yana iletişim mühendisliği alanında
                önemli bir lider haline gelmiştir. Kablosuz iletişimden uydu teknolojilerine, 5G'den geleceğin ağlarına
                kadar birçok alanda hem akademik hem de endüstriyel yeniliklere öncülük eder.
                Misyonumuz, iletişim teknolojilerinin gelişimini destekleyerek dünya çapında toplumların yaşam
                kalitesini artırmaktır.
            </p>
        </div>
    </div>

    <div class="info section">
        <div class="info-container">
            <div class="box1">
                <h3>İKÇÜ'de ComSoc!</h3>
                <p>
                    İzmir Kâtip Çelebi Üniversitesi (İKÇÜ) IEEE ComSoc (Communications Society) olarak, iletişim ve
                    haberleşme teknolojilerinde yenilikçi projeler geliştiren, bilgi paylaşımını teşvik eden ve
                    mühendislik alanında fark yaratmayı hedefleyen bir öğrenci komitesiyiz.
                    Kendimizi aynı zamanda teknik proje ekibi olarak da nitelendiriyoruz.
                </p>
            </div>
            <div class="box2">
                <h3>Neden Bize Katılmalısınız?</h3>
                <p>
                    ·Teknik Bilginizi Geliştirin: İletişim teknolojilerinde güncel konular hakkında bilgi sahibi olun.
                </p>

                <p>·Kariyer Fırsatları: Sektörle güçlü bağlar kurarak kariyerinizi bir adım öteye taşıyın.</p>
                <p>
                    ·Ekip Çalışması ve Liderlik: Projelerde yer alarak mühendislik becerilerinizi gerçek hayata
                    uygulayın.
                </p>
                <p>·Yeniliklere Öncü Olun: İletişim dünyasında fark yaratan projelerin bir parçası olun.</p>
            </div>
        </div>
    </div>

    <div class="committee section">
        <div class="komite-box" style=" margin-left: 20px; margin-right: 20px;">
            <h2>Komitemiz</h2>
            <div class="komite-list">
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Sevcihan-Suzan-BAĞCI.jpg" alt="Sevcihan Suzan Bağcı">
                    </div>
                    <div>
                        <h2>Sevcihan Suzan Bağcı</h2>
                        <div>ComSoc Başkanı</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Aydın-Sarı.jpg" alt="Aydın Sarı">
                    </div>
                    <div>
                        <h2>Aydın Sarı</h2>
                        <div>ComSoc Başkan Yardımcısı</div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="committee section">
            <div class="üye-box">
                <h2>Komite Üyelerimiz</h2>
                <div class="grid-list">
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/İrem-Kurutepe.jpg" alt="İrem Kurutepe">
                        </div>
                        <div>
                            <h2>İrem Kurutepe</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/Buse-Berfin-HALEFOĞLU.jpg" alt="Buse Berfin Halefoğlu">
                        </div>
                        <div>
                            <h2>Buse Berfin Halefoğlu</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/Onur-Çınar.jpg" alt="Onur Başar Çınar">
                        </div>
                        <div>
                            <h2>Onur Başar Çınar</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/Ezgi-Mesut.jpg" alt="Ezgi Mesut">
                        </div>
                        <div>
                            <h2>Ezgi Mesut</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/Sarp-Sünbül.jpg" alt="Sarp Sünbül">
                        </div>
                        <div>
                            <h2>Sarp Sünbül</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/Barış-Derelioğlu.jpg" alt="Barış Derelioğlu">
                        </div>
                        <div>
                            <h2>Barış Derelioğlu</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-info">
                        <div>
                            <img src="~/images/ComSoc/Tolga-Erkuran.jpg" alt="Tolga Erkuran">
                        </div>
                        <div>
                            <h2>Tolga Erkuran</h2>
                            <div>ComSoc Üyesi</div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  