
@{
    ViewBag.Title = "EMBS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link href="~/Content/Commites.css" rel="stylesheet" type="text/css" />
</head>

<div class="about section">
    <div class="content-box">
        <h2>Computer society nedir ?</h2>
        <p>
            Computer Society, bilgisayar bilimi ve teknolojisi farklı alanlarda kendini gösteren bireyleri bir araya getiren bir topluluktur. Amacı, yazılım geliştirme, yapay zeka, veri bilimi, siber güvenlik, mobil uygulama geliştirme, oyun programlama gibi çeşitli teknolojik seçeneklere eğitimler, atölyeler ve etkinlikler düzenleyerek bilgi ve özelliklerin geliştirilmesine yardımcı olunabilir. Bunun yanı sıra, sektör hizmetlerinin katılımı seminerler, hackathonlar ve proje geliştirme yarışmaları gibi etkinliklerle üyelerin sektördeki yeniliklere uyum sağlamalarını ve kariyer fırsatlarına katılımlarını sağlar.
        </p>
    </div>
</div>

<div class="info section">
    <div class="info-container">
        <div class="box1">
            <h3>İKÇÜ’de EMBS!</h3>
            <p>

                İzmir Katip Çelebi Üniversitesi'ndeki (İKÇÜ) Computer Society,bilgisayar bilimi alanında kendini göstermek isteyen göstermek için aktif bir topluluktur. Topluluğumuz, Üyelerimizin hem bireysel hem de takım olarak gelişmelerini desteklemek amacıyla çeşitli projelerde görev alma fırsatları sunmaktadır. Yazılım geliştirme, veri analizi, yapay zeka gibi alanlarda yürüttüğümüz etkinliklerin yanı sıra kodlama yarışmaları, hackathonlar ve teknolojik etkinlikler düzenleyerek Üyelerimizin aktivitelerini sergilemelerine ve eğlenirken öğrenmelerine olanak sağlıyoruz.
            </p>
        </div>
        <div class="box2">
            <h3>Neden Bize Katılmalısınız?</h3>
            <p>
                ·Computer Society’ye katılarak teknolojiye olan ilginizi geliştirebilir ve yenilikçi bir topluluğun parçası olabilirsiniz. Yazılım geliştirme, yapay zeka, veri bilimi ve siber güvenlik gibi alanlarda düzenlenen eğitimler ve atölyelerle hem teorik bilginizi hem de pratik becerilerinizi artırabilirsiniz. Gerçek dünya projelerinde yer alma fırsatları sayesinde deneyim kazanarak, gelecekteki kariyeriniz için önemli temeller atabilirsiniz.
            </p>
            <p>
                ·Topluluğumuzun düzenlediği kodlama yarışmaları ve hackathonlar, yaratıcılığınızı sergilemenize, problem çözme yeteneklerinizi geliştirmenize ve ekip çalışmasıyla başarıya ulaşmanıza imkan tanır. Ayrıca, sektör liderlerinin katıldığı seminerler ve kariyer etkinlikleri ile teknoloji dünyasındaki en son gelişmeleri öğrenebilir, profesyonel bağlantılar kurarak kariyerinizde bir adım öne geçebilirsiniz.
            </p>
        </div>
    </div>
</div>

<div class="committee section">
    <div class="komite-box" style=" margin-left: 20px; margin-right: 20px;">
        <h2>Komitemiz</h2>
        <div class="komite-list">
            <div class="grid-info">
                <div>
                    <img src="~/images/ComSoc/Sevcihan-Suzan-BAĞCI.jpg" alt="Nazlı Tokgöz">
                </div>
                <div>
                    <h2>Nazlı Tokgöz</h2>
                    <div>ComSoc Başkanı</div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="grid-info">
                <div>
                    <img src="~/images/ComSoc/Aydın-Sarı.jpg" alt="Sinem Demir">
                </div>
                <div>
                    <h2>Sinem Demir</h2>
                    <div>ComSoc Başkan Yardımcısı</div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="committee section">
        <div class="üye-box">
            <h2>Komite Üyelerimiz</h2>
            <div class="grid-list">
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/İrem-Kurutepe.jpg" alt="Duygu Elif Yavuz">
                    </div>
                    <div>
                        <h2>Duygu Elif Yavuz</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Buse-Berfin-HALEFOĞLU.jpg" alt="Mustafa Onur Bayram">
                    </div>
                    <div>
                        <h2>Mustafa Onur Bayram</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Onur-Çınar.jpg" alt="Ali Dabanca">
                    </div>
                    <div>
                        <h2>Ali Dabanca</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Ezgi-Mesut.jpg" alt="Egemen Yaşamış">
                    </div>
                    <div>
                        <h2>Egemen Yaşamış</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Sarp-Sünbül.jpg" alt="Batuhan bilecen">
                    </div>
                    <div>
                        <h2>Batuhan bilecen</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Barış-Derelioğlu.jpg" alt="Berke Şahin">
                    </div>
                    <div>
                        <h2>Berke Şahin</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Tolga-Erkuran.jpg" alt="Batuhan türkaslan">
                    </div>
                    <div>
                        <h2>Batuhan türkaslan</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Tolga-Erkuran.jpg" alt="Hasan hazırbulan">
                    </div>
                    <div>
                        <h2>Hasan hazırbulan</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="grid-info">
                    <div>
                        <img src="~/images/ComSoc/Tolga-Erkuran.jpg" alt="Gülfem küpeli">
                    </div>
                    <div>
                        <h2>Gülfem küpeli</h2>
                        <div>ComSoc Üyesi</div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


