
@{
    ViewBag.Title = "RAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link href="~/Content/Commites.css" rel="stylesheet" type="text/css" />
</head>

<div class="about section">
    <div class="content-box">
        <h2>RAS nedir?</h2>
        <p>
            IEEE Robotics and Automation Komitesi, robotik ve otomasyon mühendisliği alanında teori ve pratiği geliştirmeyi hedefleyen bir öğrenci topluluğudur. Amacımız, bu alanlarda araştırma, geliştirme ve inovasyonu teşvik ederek üyelerimize teknik bilgi ve deneyim kazandırmaktır.

        </p>
    </div>
</div>

<div class="info section">
    <div class="info-container">
        <div class="box1">
            <h3>İKÇÜ’de RAS!</h3>
            <p>

                İzmir Katip Çelebi Üniversitesi'ndeki (İKÇÜ) Computer Society,bilgisayar bilimi alanında kendini göstermek isteyen göstermek için aktif bir topluluktur. Topluluğumuz, Üyelerimizin hem bireysel hem de takım olarak gelişmelerini desteklemek amacıyla çeşitli projelerde görev alma fırsatları sunmaktadır. Yazılım geliştirme, veri analizi, yapay zeka gibi alanlarda yürüttüğümüz etkinliklerin yanı sıra kodlama yarışmaları, hackathonlar ve teknolojik etkinlikler düzenleyerek Üyelerimizin aktivitelerini sergilemelerine ve eğlenirken öğrenmelerine olanak sağlıyoruz.
            </p>
        </div>
        <div class="box2">
            <h3>Neden Bize Katılmalısınız?</h3>
            <p>
                ·•Eğitim ve Gelişim: Robotik, otomasyon ve yapay zeka gibi hızla gelişen alanlarda bilgi edinme ve uygulamalı projelerde yer alma fırsatı.
            </p>
            <p>•Network İmkanları: Alanında uzman profesyoneller, akademisyenler ve diğer öğrencilerle tanışarak geleceğinizi şekillendirebilecek bağlantılar kurma imkanı. 
            </p> 
            <p>•Etkinlik ve Yayınlar: Teknik seminerler, atölyeler, konferanslar ve akademik yayınlarla sürekli öğrenme ve gelişim. 
            </p> 
            <p>
                •Proje Desteği: Fikirlerinizi hayata geçirmek için gereken kaynak ve rehberlik.
            </p> 
            <p>
                •Kariyer Fırsatları: Robotik ve otomasyon gibi sektörlerde fark yaratacak bilgi birikimi ve deneyim kazanımı.
            </p>


        </div>
    </div>
</div>

<div class="committee section">
    <div class="komite-box" style=" margin-left: 20px; margin-right: 20px;">
        <h2>Komitemiz</h2>
        <div class="komite-list">
            <div class="grid-info">
                <div>
                    <img src="~/images/ComSoc/Sevcihan-Suzan-BAĞCI.jpg" alt="Ömer Lütfi Doğruyol">
                </div>
                <div>
                    <h2>Ömer Lütfi Doğruyol</h2>
                    <div>ComSoc Başkanı</div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="grid-info">
                <div>
                    <img src="~/images/ComSoc/Aydın-Sarı.jpg" alt="Ertuğrul Taşkan">
                </div>
                <div>
                    <h2> Ertuğrul Taşkan</h2>
                    <div>ComSoc Başkan Yardımcısı</div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

