
@{
    ViewBag.Title = "WIE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/Commites.css" rel="stylesheet" type="text/css" />
</head>

<div class="about section">
    <div class="content-box">
        <h2>WIE nedir?</h2>
        <p>
            IEEE Women ın Engıneerıng (WIE), mühendislik, bilim, teknoloji ve matematik (STEM) alanlarında kadınları destekleyen, uluslararası alandaki en büyük teknik meslek örgütüdür. WIE, kadınların bu alanlarda güçlü, yaratıcı ve aktif bir şekilde yer almasını amaçlar. Aynı zamanda kadın ve erkeklerin bilim, sanayi, teknoloji ve toplumsal kariyer alanlarında birlikteliğini ve eşitliğini savunur. WIE, mühendislik ve STEM alanlarında okuyan kadınların kariyer gelişimini desteklerken, onları mühendis olmaya teşvik eder ve profesyonel hayattaki cinsiyet eşitsizliğini yıkma yolunda çalışmalar gerçekleştirir. Cinsiyet eşitliğini savunan WIE, kadınların ve erkeklerin hayatın her alanında eşit haklara sahip olmasını öngörür.

        </p>
    </div>
</div>

<div class="info section">
    <div class="info-container">
        <div class="box1">
            <h3>İKÇÜ’de WIE!</h3>
            <p>
                WieBinar, WieTalk ve Wieland: Alanında uzman kadın mühendis ve liderlerle webinarlar, Teatalk etkileşimleri ve seminerler düzenleyerek öğrencilerimize ilham veriyoruz. Ayrıca network edinmeyede yardımcı olur.
            </p>

            <P>
                Atölye Çalışmaları: 2024 yılında ilk defa hayata geçireceğimiz IEEE TR WIE nin bir projesi olan STAR projesini hayata geçireceğiz. Star projesi nedir peki? IEEE Türkiye WIE STAR Projesi, ortaokul ve lise düzeyindeki kız ve erkek öğrencilerin STEM (Bilim, Teknoloji, Mühendislik, Matematik) alanlarına teşvik etmeyi amaçlayan bir farkındalık projesidir. Kadın ve erkek rol modellerin başarı hikayeleriyle ilham vererek, gençlere STEM alanlarını tanıtan okul ziyaretleri, atölye çalışmaları ve seminerler düzenler. Proje, kız ve erkek öğrencilerin bu alanlarda kariyer yapmasını desteklerken, toplumsal cinsiyet eşitliğini de güçlendirmeyi hedefler.
            </P>

            <P>
                Toplumsal Farkındalık Projelerine Katılmak:
                Cinsiyet eşitliği ve kadınların STEM alanlarındaki rolü üzerine farkındalık projelerine ve seminerlere katılıyoruz.
            </P>


        </div>
        <div class="box2">
            <h3>Neden Bize Katılmalısınız?</h3>
            <p>
                ·İlham Alın:WieBinar, WieTalk ve Wieland etkinliklerinde uzmanlarla tanışarak ilham alın.
            </p>
            <p>
                ·Fark Yaratın: STAR Projesi ile gençleri STEM’e teşvik edin, cinsiyet eşitliğini destekleyin.
            </p>
            <p>
                ·Gelişim Fırsatları: Atölyelerle teknik becerilerinizi geliştirin, kariyerinize hazırlanın.
            </p>
            <p>
                ·Ağ Kurun: Profesyonel bağlantılar edinerek güçlü bir network oluşturun.
            </p>
            <p>
                ·Topluma Katkı Sağlayın: Farkındalık projelerine katılarak toplumsal değişime katkıda bulunun.
            </p>

        </div>
    </div>
</div>

<div class="committee section">
    <div class="komite-box" style=" margin-left: 20px; margin-right: 20px;">
        <h2>Komitemiz</h2>
        <div class="komite-list">
            <div class="grid-info">
                <div>
                    <img src="~/images/ComSoc/Sevcihan-Suzan-BAĞCI.jpg" alt="Sanem Özçelik">
                </div>
                <div>
                    <h2>Sanem Özçelik</h2>
                    <div>ComSoc Başkanı</div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="grid-info">
                <div>
                    <img src="~/images/ComSoc/Aydın-Sarı.jpg" alt="Azra Çam">
                </div>
                <div>
                    <h2>Azra Çam</h2>
                    <div>ComSoc Başkan Yardımcısı</div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  


