
@{
    ViewBag.Title = "Directors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div id="committees" class="committees-grid">
        <!-- Yönetim Kurulu -->
        <div class="committee">
            <div class="committee-header">
                <i class="fas fa-users committee-icon"></i>
                <h2>Yönetim Kurulu</h2>
            </div>
            <div class="member">
                <div class="member-avatar"> <img src="./images/i.jpg" /></div>
                <div class="member-info">
                    <strong>Baskan:</strong>
                    <h2>Melih Sezgin Girgin</h2>



                </div>
            </div>
            <div class="member">
                <div class="member-avatar"><img src="./images/a.jpg" /></div>
                <div class="member-info">
                    <strong>İç İşlerden Sorumlu:</strong>
                    <h2>Ahmet Furkan Koca</h2>

                </div>
            </div>
            <div class="member">
                <div class="member-avatar"><img src="./images/f.jpg" /></div>
                <div class="member-info">
                    <strong>Dış İşlerden Sorumlu:</strong>
                    <h2>Emin Çor</h2>

                </div>
            </div>
            <div class="member">
                <div class="member-avatar"><img src="./images/m.jpg" /></div>
                <div class="member-info">
                    <strong>Genel Sekreter:</strong>
                    <h2>Sezgin SEZER</h2>

                </div>
            </div>
            <div class="member">
                <div class="member-avatar"><img src="./images/h.jpg" /></div>
                <div class="member-info">
                    <strong>Fikret YENDİ:</strong>
                    <h2>Teknik Projelerden Sorumlu Başkan Yardımcısı </h2>


                </div>
            </div>
            <div class="member">
                <div class="member-avatar"><img src="./images/g.jpg" /></div>
                <div class="member-info">
                    <strong>Emirhan SAYDAN:</strong> <h2>Finansal Direktör</h2>

                </div>
            </div>
            <!-- Add other members similarly -->
        </div>

        <!-- EMBS Komitesi -->
        <div class="committee">
            <div class="committee-header">
                <i class="fas fa-heartbeat committee-icon"></i>
                <h2>İdari Kurul </h2><br>

            </div>

            <div class="member">
                <div class="member-avatar">  <img src="./images/d.jpg" /></div>

                <div class="member-info">
                    <strong>Beyza KAYACAN:</strong> <h2>
                        Engineering in Medicine &
                        Biology Society
                    </h2>
                </div>
            </div>
            <div class="member">
                <div class="member-avatar">  <img src="./images/h.jpg" /></div>                    <div class="member-info">
                    <strong>Fikret YENDİ:</strong> <h2>Power & Energy Society</h2>

                </div>
            </div>
            <div class="member">
                <div class="member-avatar">  <img src="./images/j.jpg" /></div>                    <div class="member-info">
                    <strong>Pelin ALKURT: </strong> <h2>Robotics & Automation Society</h2>

                </div>
            </div>
            <div class="member">
                <div class="member-avatar">  <img src="./images/k.jpg" /></div>                    <div class="member-info">
                    <strong>Sanem ÖZÇELİK:</strong> <h2>
                        Women in Engineering
                    </h2>
                </div>
            </div>
            <div class="member">
                <div class="member-avatar">  <img src="./images/l.jpg" /></div>
                <div class="member-info">
                    <strong>Sevcihan Suzan BAĞCI</strong>  <h2>
                        Communications Society
                    </h2>
                </div>
            </div>

            <!-- Add other members -->
        </div>





        <!-- Add other committees with appropriate icons -->
    </div>
</div>
