
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="flex-container">
    <div class="text_area">
        <h1 id="genel_bilgiler" style="font-family:'Yantramanav'">
            &nbsp;&nbsp;&nbsp;&nbsp;Genel Bilgiler
        </h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;IEEE (Açılımı: Institute of Electrical and Electronics Engineers), elektrik, elektronik, bilgisayar ve otomasyon gibi mühendislik alanlarının gelişimine katkı sağlayan, kâr amacı gütmeyen uluslararası bir teknik organizasyondur. 1884 yılında, Alexander Graham Bell ve Thomas Edison gibi öncü bilim insanları tarafından kurulmuştur.</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp;Aralık 2021 itibarıyla, 160 ülkede 409.000'den fazla üyesi (125.000'den fazlası öğrenci) ve 39 teknik komitesi ile 3.565'ten fazla öğrenci kolu bulunmaktadır. Dünyada elektrik ve elektronik mühendisliği, bilgisayar ve otomasyon konularında yayınlanan makalelerin %30'unu IEEE yayınlamaktadır. Ayrıca, IEEE Xplore kütüphanesinde yaklaşık 5 milyon belge ve 200 düzenli bilimsel yayın ile 1.800'den fazla konferans yer almaktadır. Türkiye'nin de dahil olduğu 8. Bölge'de ise 26.000 üyesi, bunlardan 5.000'i öğrenci üyedir.
        </p>
        <h1 id="ieee_nasıl_kuruldu">
            &nbsp;&nbsp;&nbsp;&nbsp;IEEE Nasıl Kuruldu?
        </h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;IEEE, 1884 yılında Amerikan Elektrik Mühendisleri Enstitüsü (AIEE) olarak kuruldu ve 1912'de Radyo Mühendisleri Enstitüsü (IRE) ile rekabet etmeye başladı. 1963 yılında AIEE ve IRE'nin birleşmesiyle IEEE (Institute of Electrical and Electronics Engineers) olarak yeniden yapılandırıldı.
        </p>
        <h1 id="buyume_ve_kuresellesme">
            &nbsp;&nbsp;&nbsp;&nbsp;Büyüme ve Küreselleşme
        </h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;IEEE, kuruluşundan itibaren mühendislik ve teknoloji alanlarında küresel bir etkiye sahip olmayı hedeflemiş ve bu doğrultuda hızla büyümüştür. 20. yüzyılın ortalarında AIEE ve IRE'nin birleşmesiyle tek çatı altında toplandıktan sonra, IEEE dünya çapında elektrik, elektronik, bilgisayar ve otomasyon gibi alanlarda lider bir kuruluş haline geldi. Teknolojinin her alanda hızla gelişmesiyle birlikte IEEE, 190’dan fazla ülkede 460.000'den fazla üyeye ulaşarak dünyanın dört bir yanındaki mühendisler, akademisyenler ve öğrenciler için bir ağ oluşturdu.
            </br></br>
            &nbsp;&nbsp;&nbsp;&nbsp;IEEE Xplore dijital kütüphanesi, sayısız bilimsel yayınıyla araştırmacılara bilgi sağlarken, düzenlediği uluslararası konferanslar ve teknik komiteler aracılığıyla dünya genelindeki teknolojik gelişmelere öncülük etmektedir.
        </p>
        <h1 id="turkiyede_ieee">
            &nbsp;&nbsp;&nbsp;&nbsp;Türkiye'de IEEE
        </h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            IEEE, Türkiye’de mühendislik ve teknoloji alanındaki profesyoneller ve öğrenciler için önemli bir bilgi ve iş birliği kaynağı haline gelmiştir. 2023 itibarıyla Türkiye'de 5.000’i öğrenci olmak üzere toplam 26.000’den fazla IEEE üyesi bulunmaktadır. Türkiye, IEEE'nin Avrupa, Orta Doğu ve Afrika'yı kapsayan 8. Bölgesi'nde yer almakta ve ülkede aktif olarak çalışan 50’den fazla öğrenci kolu bulunmaktadır.
        </p>
        <h1 id="ikcude_ieee">
            &nbsp;&nbsp;&nbsp;&nbsp;İKÇÜ'de IEEE
        </h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            İKÇÜ'de IEEE 20XX yılından beri aktiflik sağlamaktadır. Detaylı bilgi için <a href="/ikcudeieee">İKÇÜ'de IEEE</a> sayfamızı ziyaret edebilirsiniz.
        </p>
    </div>
    <div class="photo_area">
        <!-- Jump Link Bar -->
        <div class="flex-container" style="flex-direction: column; margin-bottom: 1em;" id="jump_link_bar">
            <h2 style="color:#146A99">
                Bu Sayfada:
            </h2>
            <a href="#genel_bilgiler">> Genel Bilgiler</a>
            <a href="#ieee_nasıl_kuruldu">> IEEE Nasıl Kuruldu?</a>
            <a href="#buyume_ve_kuresellesme">> Büyüme ve Küreselleşme</a>
            <a href="#turkiyede_ieee">> Türkiye’de IEEE</a>
            <a href="#ikcude_ieee">> İKÇÜ'de IEEE</a>
        </div>
        <div class="img_wrapper">
            <img src="sunrise-7674594_1280.webp">
            IEEE, yenilenebilir enerji sistemlerinin elektrik şebekelerine entegrasyonu için küresel standartlar geliştirerek çevreye katkı sağlamaktadır.
        </div>

        <div class="img_wrapper">
            <img src="image.png">
            IEEE’nin 2023 verilerine göre, dünya genelinde 190’dan fazla ülkede, 460.000'den fazla üyesi bulunmaktadır.
        </div>

        <div class="img_wrapper">
            <img src="electric-4198293_1280.jpg">
            IEEE ilk olarak elektrik mühendisliği alanında ortaya çıksa da, 1963'te yeni alanları da kapsayacak şekilde genişleyerek günümüzdeki çok disiplinli yapısını kazanmıştır.
        </div>

    </div>
</div>