
@{
    ViewBag.Title = "VisionMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="mission">
        <img src="images/ornek1.jpeg" alt="Misyonumuz">
        <div class="text">
            <h2><span class="icon">🎯</span> Misyonumuz</h2>
            <p>İzmir Kâtip Çelebi Üniversitesi IEEE Topluluğu olarak, mühendislik ve teknoloji alanındaki en güncel gelişmeleri üniversite camiasına taşıyarak, öğrencilerin yaratıcılıklarını ve problem çözme becerilerini destekliyoruz. Aynı zamanda, sektörle işbirliği yaparak, öğrencilerimizin mezuniyet sonrası kariyerlerine en iyi şekilde hazırlanmalarını sağlıyoruz.</p>
        </div>
    </section>
    <section class="vision">
        <img src="images/ornek2.jpeg" alt="Vizyonumuz">
        <div class="text">
            <h2><span class="icon">💡</span> Vizyonumuz</h2>
            <p>Geleceğin teknolojilerini şekillendiren, küresel sorunlara yenilikçi çözümler üreten ve toplumsal fayda sağlayan bir mühendislik topluluğu olma vizyonuyla hareket ediyoruz. Üyelerimize, teorik bilgilerini pratiğe dökme fırsatı sunarken, aynı zamanda liderlik, takım çalışması ve iletişim becerilerini geliştirmelerine olanak tanıyoruz.</p>
        </div>
    </section>
</div>